@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div style="padding-top:10px;" class="row">

    <div class="col-4">
        <img src="./images/poster.jpg" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-8">
        <div class="iframe-container">
            <iframe class="iframe-responsive" src="https://conf.letscongress.eu/dayprogram/ca765a4c-e4b0-4748-95d3-f216b2f97568" frameborder="0"></iframe>
        </div>
    </div>


    </div>
