@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div style="padding-top:10px;" class="row">

    <div class="col-2">
        <img src="./images/VoyagerProgram.JPG.png" class="img-fluid" alt="Responsive image">
    </div>

    <div class="col-8">
        <div class="iframe-container">
            <iframe class="iframe-responsive" src="https://conf.letscongress.eu/dayprogram/a1fbab60-a035-4e05-a436-05530364ca21" frameborder="0"></iframe>
        </div>
    </div>

    <div class="col-2">
        <img src="./images/VoyagerProgram.JPG.png" class="img-fluid" alt="Responsive image">
    </div>

    </div>
