@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
.photo {
    display: table;
}
.photo a {
    vertical-align: middle;
    display: table-cell;
}
.photo img {
    display: block;
    height: auto;
    width: 100%;
}
</style>

    <div style="padding-top:10px;" class="row">

    <div class="col-4 photo">
        <a>
        <img class="img-fluid photo" src="./images/armonialogo.png" alt="Responsive image">
    </a>
    </div>

    <div class="col-8">
        <div class="iframe-container">
            <iframe class="iframe-responsive" src="https://conf.letscongress.eu/dayprogram/ca765a4c-e4b0-4748-95d3-f216b2f97568" frameborder="0"></iframe>
        </div>
    </div>


    </div>
